In [2]:
#git hub eng Qasim repo AI
import pandas as pd
import numpy as np

In [ ]:
#github.com/enggqasim
#data data waggling we make joint
#vlookup ?

In [9]:
a=pd.DataFrame(np.arange(3).reshape(1,3),columns=['one','two','Three'])
a

   one  two  Three
0    0    1      2

In [11]:
a[0:1]

   one  two  Three
0    0    1      2